npm install googleapis axios
npm install react-toastify
npm install framer-motion
npm install aceternity-ui
npm install youtube-captions-scraper
npm install ytdl-core
npm install openai
npm i framer-motion clsx tailwind-merge three @react-three/fiber @types/three
