/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #111; /* Replace with your desired background color */
}

.pageContainer {
    background-color: #111;
    min-height: 100vh;
    padding: 20px;
  }
  
  .inputForm {
    margin-top: 20px;
  }
  
  .inputForm label {
    margin-right: 10px;
  }
  
  .inputForm input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 4px;
    width: 900px;
  }
  
  .inputForm button {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
    padding: 10px 10px;
    border: 3px solid #000000;
    background-color: #838383;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    height: 50px;
  }
  
  .inputForm button:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .navBar {
    position: relative;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 1% 12%;
    box-shadow: 0 1px 0 rgba(204, 204, 204, 0.3);
    color: rgb(255, 255, 255);
    font-size: 80%;
    height: 20%;
  }

  .footer {
    padding: 20px;
    display: flex;
    align-content: center;
    background-color: #000000;
    color: white;
    position: fixed;
    box-shadow: 0 -1px 0 rgba(204, 204, 204, 0.3);
    bottom: 0;
    width: 100%;
    z-index: 9999;
    justify-content: center;
  }

  .navLinks {
  display: flex;
    padding: 0;
  }

  .navLink {
    color: white;
    text-decoration: none;
    margin: 60px 60px;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s;
    font-family: Verdana, sans-serif;
  }

  .projectName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 60px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Verdana, sans-serif;
  }

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.card-custom-dimensions {
  width: 60%; /* Set width to 80% of the screen */
  max-width: 60%; /* Ensure it doesn't exceed the screen width */
  margin: 0 auto; /* Center the card horizontally */
}
